body {
    background-color: #DBDBDB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    background-color: white;
    touch-action: none;
}

div {
    text-align: center;
    background-color: rgb(138, 138, 138);
    float: right;
}