body {
    background-color: #DBDBDB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    background-color: white;
    touch-action: none;
    padding-top: 0px;
    padding-bottom: 0px;
}